.email{
  padding: 10px;
  margin-left: 22%;
}
.text{
  text-align: center;
}
.password{
  padding: 10px;
  margin-left: 22%;
}

.signup-button{
  background-color: orange;
}


.or{
  font-size: 30px;
  color: black;
  text-align: center;
}
.forgotpassword{
  text-align: center;
  font-size: larger;
  color: blue;
}
